.budget-list-edit-form {
  margin-left: 40px;
  height: 80px;
  padding-left: 5px;
  display: grid;
  align-items: center;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #8ce99a;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.edit-expense-input {
  width: 75%;
  height: 50%;
  border-radius: 10px;
}

.delete-expense-link {
  pointer-events: none;
}

.delete-expense-btn {
  cursor: pointer;
  pointer-events: auto;
}

.edit-expense-btn {
  cursor: pointer;
  pointer-events: auto;
}

.category-header {
  margin-bottom: 0;
}

.budget-date-filter {
  margin-left: 40px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #8ce99a;
  margin-bottom: 10px;
}

.sorting-arrows {
  width: min-content;
}

.sorting-arrows:hover {
  cursor: pointer;
}
