@charset "ISO-8859-1";

.hidden {
  display: none;
}

.nav-box {
  border-radius: 10px;
  border: 5px solid #37b24d;
  background-color: #37b24d;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.body-app {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr 3fr;
}

.hidden {
  display: none;
}

.hidden-opacity-collapse {
  opacity: 0;
  height: 0;
}

.add-expense-form {
  display: grid;
  justify-items: center;
  border: 2px solid blue;
}

.expense-input {
  display: block;
  border-radius: 10px;
}

.budget-list-header {
  justify-content: space-evenly;
  padding-left: 10px;
  margin-left: 40px;
  display: grid;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #8ce99a;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.budget-list {
  margin-left: 40px;
  padding-left: 5px;
  display: grid;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #8ce99a;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.budget-list-total {
  margin-left: 40px;
  padding-left: 5px;
  display: grid;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #8ce99a;
  margin-bottom: 10px;
  align-items: center;
  justify-items: center;
}

.total {
  margin: 10px;
}

.budget-list-edit-form {
  margin-left: 40px;
  height: 80px;
  padding-left: 5px;
  display: grid;
  align-items: center;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #8ce99a;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.edit-expense-input {
  width: 75%;
  height: 50%;
  border-radius: 10px;
}

.delete-expense-link {
  pointer-events: none;
}

.delete-expense-btn {
  cursor: pointer;
  pointer-events: auto;
}

.edit-expense-btn {
  cursor: pointer;
  pointer-events: auto;
}

.category-header {
  margin-bottom: 0;
}

.budget-date-filter {
  margin-left: 40px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #8ce99a;
  margin-bottom: 10px;
}

.sorting-arrows {
  width: min-content;
}

.sorting-arrows:hover {
  cursor: pointer;
}

.year-grid {
  display: grid;
  justify-content: center;
}

.flex-box-month {
  display: flex;
  justify-content: space-evenly;
}

.month-text {
  display: flex;
  margin: 10px;
  justify-content: center;
  flex-basis: 130px;
}

.flex-box-year {
  display: flex;
}

.anchor-arrow-back {
  width: 50px;
}

.year-text {
  margin: 10px;
}

.anchor-arrow-next {
  width: 50px;
}

.anchor-arrow-back {
  width: 50px;
}
