<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<link rel="stylesheet" href="/css/home.css">
		<link rel="stylesheet" href="/css/expenses-display.css">
		<script th:inline="javascript">
		    var expenses = [[${expenses}]];
		</script>
		<title>Home</title>
	</head>
	<body>
		<nav class = "nav-box">
			<h1>Budget Application</h1>
			<button th:if="${#authentication.getPrincipal() == 'anonymousUser'}" class = "btn-register">Register</button>
			<form name='loginForm' action="/performlogin" method='POST'>
				<div th:if="${#authentication.getPrincipal() == 'anonymousUser'}" class = "login-inputs">
					<input class = "login-input" type = "text" name='username' placeholder = "Username"></input>
					<input class = "login-input" type='password' name='password' placeholder = "Password"></input>
					<input name="submit-login" type="submit" value="submit" />
				</div>
			</form>
			<input th:if="${#authentication.getPrincipal() != 'anonymousUser'}" class = "search-bar" type='search' placeholder = "search"></input>
		</nav>
		
		<div th:if="${#authentication.getPrincipal() != 'anonymousUser'}" class = "body-app">
			<div id = "body-app-child">
				<div class = "budget-date-filter">
					<div class = "year-grid">
						<div class = "flex-box-year">
							<a class = "anchor-arrow-back" th:href="${'/budget/' + previousYear}">
								<img class = "date-traversal-arrow" src = "/images/icons/back-arrow.svg" alt="Back arrow for year"/>
							</a>
							<h3 class = "year-text" th:text="${currentYear}">2019</h3>
							<a class = "anchor-arrow-next" th:href="${'/budget/' + nextYear}">
								<img class = "date-traversal-arrow" src = "/images/icons/next-arrow.svg" alt="Forward arrow for year"/>
							</a>
						</div>
					</div>
					<div class = "flex-box-month">
						<a class = "anchor-arrow-back" href="#">
							<img id = "month-arrow-back" src = "/images/icons/back-arrow.svg" alt="Back arrow for year"/>
						</a>
						<h4 class = "month-text" th:text="${currentMonth}">January</h4>
						<a class = "anchor-arrow-next" th:href="${'/budget/' + nextYear}">
							<img id = "month-arrow-next" src = "/images/icons/next-arrow.svg" alt="Forward arrow for year"/>
						</a>
					</div>
			  	</div>
			  	<div class = "budget-list-header">
					<p>Date</p>
					<div>
						<p class="category-header">Category</p>
						<select id="category-filter-input">
				  		  <option value="All">All</option>
					      <option value="DATES">Dates</option>
					      <option value="MISC">Misc</option>
					 	  <option value="FUEL">Fuel</option>
					    </select>
					</div>
					<div>
						<p class="category-header">Cost</p>
						<p class = "sorting-arrows">&#8593;&#8595;</p>
					</div>
			  		<p>Description</p>
			  		<p></p>
			  		<p></p>
			  		<p>Hide</p>
			  	</div>
				<div class = "budget-list" th:each="expense : ${expenses}">
					<p th:text="${expense.purchaseDate}"></p>
			  		<p th:text="${expense.category}"></p>
			  		<p th:text="'&pound' + ${#numbers.formatDecimal(expense.amount,2,2,'POINT')}"></p>
			  		<p th:text="${expense.description}"></p>
			  		<a class = "edit-expense-link"><button class = "edit-expense-btn">Edit</button></a>
			  		<a class = "delete-expense-link" th:href = "${'/delete/' + expense.id}"><button class = "delete-expense-btn">Delete</button></a>
		  			<div>
			  			<input type="checkbox" id="ignore-expense-checkbox">
			  		</div>
			  	</div>
			  	<div class = "budget-list-total">
					<h3 class = "total"></h3>
				</div>
		  	</div>
		  	<div class = "add-expense-form">
			  	<form name='addExpenseForm' th:action="@{/addexpensejson}" th:object="${expense}" method="post">
					<h3>Add expense</h3>
					<input id = "add-expense-purchase-date" class = "expense-input" type = "date" th:field="*{purchaseDate}" placeholder = "10-10-2022">
					<input id = "add-expense-amount" class = "expense-input" type = "number" step="0.01" th:field="*{amount}" placeholder = "Amount">
					<select id = "add-expense-category" name="categories" th:field="*{category}">
				      <option value="DATES">Dates</option>
				      <option value="MISC">Misc</option>
				 	  <option value="FUEL">Fuel</option>
				    </select>
					<input id = "add-expense-description" class = "expense-input" th:field="*{description}" placeholder = "Description"/>
					<input name="submit-login" type="submit" value="submit" />
				</form>
				<label id = "add-expense-error" class = "error hidden">Please amend the highlighted fields</label> 
				<label id = "add-expense-error-maintenance" class = "error hidden">Down due to maintenance</label> 
				
		  	</div>
		</div>
		<div class = "register-box hidden">
			<th:form class = "register-form" name='registerForm' th:object = ${user} th:action="@{/user/newuser}"  id = "register-form" method='POST'>
	            <div>
		            <label>Username</label> 
		            <input id = "register-username" data-field = "username" type='text' th:field="${user.username}">
	            	<label id = "invalid-username" class = "error hidden">Please enter a valid username</label>
	            	<label id = "duplicate-username" class = "error hidden">Username already taken</label> 
	            </div>
	            <div>
		            <label>Password</label> 
		            <input id = "register-password" data-field = "password" type='password' th:field="${user.password}" />
	            	<label id = "invalid-password" class = "error hidden">Please enter a valid password</label> 
	            </div>
	            <div>
	            	<label>Email</label> 
		            <input id = "register-email" type='email' th:field="${user.email}" />
	            	<label id = "invalid-email" class = "error hidden">Please enter a valid email</label> 
	            	<label id = "duplicate-email" class = "error hidden">Email already taken</label> 
	            </div>
	            <input id="btn-register-submit" type="submit" value="submit" />
	            <label class = "error login-error hidden">Down due to maintenance</label>
			</th:form>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type = "module" src = "/js/home.js"></script>
</html>